In [16]:
import json
import pandas as pd

with open('file.json', 'r') as file:
    data = json.load(file)


transposed_data = {team: {opponent: data[opponent][team]["W"] for opponent in data.keys() if opponent!=team} for team in data.keys()}


df = pd.DataFrame(transposed_data)
last_row = df.iloc[-1]  
df = pd.concat([last_row.to_frame().T, df.iloc[:-1]])


df

      BRO   BSN   CHC   CIN   NYG   PHI   PIT   STL
BRO   NaN  10.0  15.0  15.0  14.0  14.0  15.0  11.0
BSN  12.0   NaN  13.0  13.0  13.0  14.0  12.0   9.0
CHC   7.0   9.0   NaN  12.0   7.0  16.0   8.0  10.0
CIN   7.0   9.0  10.0   NaN  13.0  13.0  13.0   8.0
NYG   8.0   9.0  15.0   9.0   NaN  12.0  15.0  13.0
PHI   8.0   8.0   6.0   9.0  10.0   NaN  13.0   8.0
PIT   7.0  10.0  14.0   9.0   7.0   9.0   NaN   6.0
STL  11.0  13.0  12.0  14.0   9.0  14.0  16.0   NaN